@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'BebasRegular';
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}

.navigation a{
	color:#212121;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	text-decoration:none;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	text-align:left;
	width:73px;
}
.navigation a:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}

.slide{
	background-color: #FFFFCC;
	background-image:url(../images/fondo.jpg);

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	/* Asegura que el elemento tomara el alto total de la ventana del navegador*/
	min-height:100%;

	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.slide titulo{
	position:absolute;
	top: 40%; 
	left: 45%; 
	transform: translate(-50%, -50%);
	font-size:50px;
	color: #E3E3E3;
}
.slide subtitulo{
	position:absolute;
	top: 50%; 
	left: 35%; 
	transform: translate(-50%, -50%);
	font-size:35px;
	color: #E3DFE3;
}


